@import '../../../../src/styles/colors.css';

.recitales-container {
  padding: 3rem 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--text-primary);
    filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.05))
    drop-shadow(0 4px 10px rgba(0, 0, 0, 1));
}

.recitales-title {
  margin-top: 2rem;
  font-size: 3.5rem;
  color: var(--text-primary);
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
    @media (max-width: 932px) {
  font-size: 3rem;
  }
}

.recitales-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recital-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  @media (max-width: 932px) {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }
}

.recital-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.recital-lugar {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  @media (max-width: 932px) {
  font-size: 2.3rem;
  }
}

.recital-subtitles{
  display: flex;
  align-items: center;
  gap: 2rem;
  @media (max-width: 932px) {
    flex-direction: column;
    gap:1rem;
    margin-bottom: 4px
  }
}

.recital-direccion {
  color: var(--text-secondary);
  font-size: 1.5rem;
}

.recital-fecha {
  color: #b4b4b4;
  font-size: 0.95rem;
}

.recital-descripcion {
  margin-top: 0.8rem;
  color: #ddd;
  font-size: 1rem;
  line-height: 1.4;
}

.recital-tickets{
  text-transform: uppercase;
}

/* Responsivo */
@media (max-width: 768px) {
  .recital-item {
    padding: 1.25rem;
  }
}
