.menu {
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* VER PORQUE ACA NO ME DEJA IMPORTAR LAS VARS DE LOS COLORS  */

.container-polilla-img {
  background: linear-gradient(120deg, #6a5af9, #6fc2ff, #b86cff);
  background-size: 300% 300%;
  animation: electricFlow 10s ease-in-out infinite;
}

@keyframes electricFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.menu-buttons {
  position: fixed;
  bottom: 20px;
  left: 84%;
  transform: translateX(-56%);
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  z-index: 1000;
}

@media (max-width: 1050px) {
  .menu-buttons {
    display: none;
  }
}


.logo-polilla-img {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.9))
    drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}

.nombre-polilla-img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 100))
    drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}