.menu {
  background: var(--gradient-primary);
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.menu-buttons{
  position: fixed;
  bottom: 20px;
  left: 84%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  z-index: 1000;
}

.logo-polilla-img {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.9))
    drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}

.nombre-polilla-img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 100))
    drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}