@import '../../../../src/styles/colors.css';

.parent {
  position: relative;
}

.overlay {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 1000;
}

.overlay-image {
  margin: 0 auto;
  height: 60px;
  cursor: pointer;
  filter: grayscale(1) contrast(1.5)
      drop-shadow(0 0 0 white)
      drop-shadow(1px 0 0 white)
      drop-shadow(-1px 0 0 white)
      drop-shadow(0 1px 0 white)
      drop-shadow(0 -1px 0 white);
  transition: all 0.3s ease;
  transform: scale(1);
}

.overlay-image:hover {
  filter: grayscale(0)
      drop-shadow(0 0 0 white)
      drop-shadow(1px 0 0 white)
      drop-shadow(-1px 0 0 white)
      drop-shadow(0 1px 0 white)
      drop-shadow(0 -1px 0 white);
  transform: scale(1.1);
}

.overlay-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-contact {
  @media (max-width: 1050px) {
    display: none;
  }
}

.button-menu {
  @media (min-width: 1051px) {
    display: none;
  }
}

.drawer {
  background: var(--bg-secondary);
  color: var(--text-primary);
  font-size: 24px;
  height: 100%;
  overflow: hidden;
}

.drawer .MuiListItemButton-root:hover {
  background: rgba(255, 255, 255, 0.1);
  scale: 1.01;
}

.drawer .MuiListItemIcon-root {
  color: var(--text-primary);
  display: flex;
  justify-content: center;
}

.drawer .MuiDivider-root {
  border-color: rgba(255, 255, 255, 0.2);
}

.drawer .MuiTypography-root{
  font-size: 18px;
  margin-left: 20px;
}
