@import '../../../../src/styles/colors.css';

.parent {
  position: relative;
}

.overlay {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 1000;
}

.overlay-image {
  margin: 0 auto;
  height: 60px;
  cursor: pointer;
  filter: grayscale(1) contrast(1.5)
      drop-shadow(0 0 0 white)
      drop-shadow(1px 0 0 white)
      drop-shadow(-1px 0 0 white)
      drop-shadow(0 1px 0 white)
      drop-shadow(0 -1px 0 white);
  transition: all 0.3s ease;
  transform: scale(1);
}

.overlay-image:hover {
  filter: grayscale(0)
      drop-shadow(0 0 0 white)
      drop-shadow(1px 0 0 white)
      drop-shadow(-1px 0 0 white)
      drop-shadow(0 1px 0 white)
      drop-shadow(0 -1px 0 white);
  transform: scale(1.1);
}
