@import '../../../styles/colors.css';

.informacion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informacion-about-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 8rem;
  margin-top: 2rem
}

.informacion-about-container2 {
  display: flex;
  gap: 4rem;
}

.informacion-imagen {
  display: flex;
  justify-content: center;
  flex: 0.6;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.informacion-imagen-img {
  width: 100%;
  height: auto;
  border-radius: 26px;
  box-shadow: var(--text-muted);
  filter:
    grayscale(100%);
  object-fit: cover;
}


.informacion-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informacion-texto {
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.informacion-texto p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .informacion-about-container {
    margin: 2rem;
    margin-top: 1rem;
  }
  .informacion-about-container2 {
    flex-direction: column;
    gap: 1.5rem;
  }

  .informacion-texto {
    font-size: 18px;
  }

  .informacion-imagen {
    max-width: 100%;
  }
}


.informacion-title {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 4rem;
}

.informacion-subtitle{
  text-align: center;
  font-size:2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--text-muted);
}

.informacion-subtitle2{
  text-align: left;
  font-size:2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--text-muted);
}

.informacion-header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 80%;
  min-height: 200px;
  max-height: 400px;
}

.informacion-header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.informacion-header::after,
.informacion-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: background 0.25s ease;
}

.parallax-section {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  margin: 4rem 0;
}

.parallax-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: grayscale(100%);

}
