@import '../../../styles/colors.css';

.btn {
  padding: 12.5px 56px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  border: none;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: scale(1.05);
}

.btn.primary {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1)
  );
  color: var(--text-primary);
}

.btn.primary:hover {
  background: rgba(255, 255, 255, 0.4);
}

.btn.secondary {
  background-color: var(--accent-color);
  color: var(--text-primary);
  border: rgba(255, 255, 255, 0.4);
}

.btn.secondary:hover {
  background: var(--accent-color-2);
  color: white;
}

.btn.tertiary {
  background-color: var(--accent-red);
  color: var(--text-primary);
  border: rgba(255, 255, 255, 0.4);
}

.btn.tertiary:hover {
  background: var(--accent-red);
  color: white;
}