.btn {
  padding: 12.5px 56px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  border: none;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: scale(1.05);
}

.btn.primary {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1)
  );
  color: white;
}

.btn.primary:hover {
  background: rgba(255, 255, 255, 0.4);
}

.btn.secondary {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: rgba(255, 255, 255, 0.4);
}

.btn.secondary:hover {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1)
  );
  color: white;
}
